*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
nav{
    display: flex;
   
    justify-content: space-between;
}
nav .menu ul  {
    display: flex;
    list-style-type: none;
    
}
nav .menu ul li {
    margin-left: 20px;
    margin-top: 10px;
}

nav .menu ul li  a{
   color: #333;
}
nav .social ul{
    display: flex;
    list-style-type: none;
    margin-right: 25px;
}
nav .social ul li {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    
}
nav .social ul li:hover{
    color: blue;
    border-radius: 10px;
    transform: rotate(360deg);
    transition:all 0.5s;
}
.container
{
    width: 100%;
    height: 810px;
    background-image: linear-gradient(rgb(142 42 42 / 50%), rgb(0 0 0 / 50%)), url('/assets/img/background.png');
}
.container  .row {
    display: flex;
    justify-content: space-between;
 
}
.container  .row .logo{
   margin-top: 10px;
   margin-left: 20px;
}
.sub-menu ul{
    display: flex;
}
.sub-menu ul li{
list-style-type: none;
margin-left: 10px;
margin-top: 15px;

}
.sub-menu ul li a{
  color: #fff;
    }
.sub-menu ul li a:hover{
        color: #333;
        background: #fff;
        border-radius: 5px;
        padding: 10px;
          }    
.button button{
    margin-top: 5px;
    margin-bottom: 5px;
    background:#8a98a6 ;
    padding: 15px;
    border:1px solid #8a98a6;
    border-radius: 10px;
    margin-right: 25px;
    font-size: 15px;
 }   
 .button button:hover{
     background: #fff;
     color: 3333;
     font-size: 15px;
 }
 .seperator {
    margin-top: 20px;
}
.life {
    margin-top: 10rem;
    margin-left: 80px;
}
.life  h1{
    
    color: #45d8ca;
    font-weight: 500;
    margin-bottom: 40px;
}
.life  h3{
    
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.life  ul{
    display: flex;

}
.life  ul li  {
    
    list-style-type: none;
    margin-right: 10px;
    margin-top: 10px;
}
.life  ul li button{
    padding: 15px;
    border: 1px solid #45d8ca ;
    border-radius: 10px;
    background: #44d7c9;
    margin-right: 20px;
    color: #fff;
}
.life  ul li button:hover{
    padding: 15px;
    border: 1px solid #45d8ca ;
    border-radius: 10px;
    background: #44d7c9;
    margin-right: 20px;
    color: rgb(243, 4, 4);
}
.life ul li img {
    margin-top: 5px;
    margin-left: 20px;
}
.fa-play-circle{
    margin-top: 15px;
    color: #ffff;
    margin-right: 10px;
}
p {

    color: #ffff;
}